<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('./partials/nav') %>
<body>
    <h1> <%= foundFruit.name%> </h1>
    <form action="/fruits/<%= foundFruit._id%>?_method=DELETE" method="post">

    <% if (foundFruit.isReadyToEat === true) { %>
        <p> This fruit is ready to eat </p>
    <%}else {%> 
         <p> This fruit isn't ready to eat 😣</p>
  <%  }%>

  <button type="submit"> Delete</button>
</form>    
    
<a href="/fruits/<%= foundFruit._id%>/edit"> edit <%= foundFruit.name%></a>
</body>
</html>